<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h2>Expiation Data About</h2>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <p>
            Welcome to the world of road rules and Expiations! Your every move is being watched - at every red light, 
            as you pass the speed limit, and don't forget to give-way at that intersection!. But what happens when drivers 
            push their luck? They end up in the SA Gov Expiations DB, a treasure trove of every traffic slip-up and criminal
            act that happens on SA roads.</p>
            <p>
            From tracking speeding trends to uncovering the busiest intersections for red light runners, your job is 
            to transform this raw data into insights and demonstrate your understanding of modern web development along 
            the way. So buckle up—this is one road trip you won’t want to miss!
        </p>
        <p>
            The original data sets and their explanations can be found on Data SA's Website':
        </p>
        <ul>
            <li>
                <a href="https://data.sa.gov.au/" target="_blank">Data SA</a>
            </li>
            <li>
                <a href="https://data.sa.gov.au/data/dataset/expiation-notice-system-data" target="_blank">Expiation Notice System Data</a>
            </li>
        </ul>
    </div>
</div>