@{
    ViewData["Title"] = "Home Page";
}

<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h2 class="text-dark">Expiations SA Home</h2>
</div>

<div class="row">
    <div class="col-8">
        <p>
            This assignment focuses on utilizing Models, ViewModels, Lambda/LINQ and Razor Code to present expiation data collected by the SA Government. 
            Through this project, you will gain hands-on experience in querying large data sets using the Entity Framework ORM, retrieving data, manipulating data, and building interactive web applications to visualize and present information.
        </p>
    </div>
</div>
